body {
  background-color: #f8f9fa;
}

#cv-upload-container {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

#cv-upload-container h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

#upload-cv {
  padding: 100px 0;
}
#upload-cv h2 {
  font-size: 2.5rem;
}
#about h2,
#services h2,
#contact-us h2 {
  font-size: 2rem;
}
.navbar {
  transition: background-color 0.3s ease;
}
.bg-dark.scrolled {
  background-color: #333 !important;
}

#about {
  background-color: #f8f9fa;
  padding: 80px 0;
}

#about h2 {
  color: #333;
  font-size: 2.5rem;
  margin-bottom: 30px;
  text-align: center;
}

#about p {
  color: #666;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: justify;
}


#services {
  background-color: #f4f4f4;
  padding: 80px 0;
}

#services h2 {
  color: #333;
  font-size: 2.5rem;
  margin-bottom: 30px;
  text-align: center;
}

.card {
  background-color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  margin-bottom: 30px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
}

.card-title {
  color: #333;
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.card-text {
  color: #666;
  font-size: 1rem;
}


#contact-us {
  padding: 80px 0;
}

#contact-us h2 {
  color: #333;
  font-size: 2.5rem;
  margin-bottom: 30px;
  text-align: center;
}

.btn-primary {
  background-color: #007bff;
  border: none;
  color: #fff;
  padding: 12px 30px;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}
